<footer class="footer" >
    <div class="contaner">
        <div class="footer-conten">
  <ul class="footer-cards">
      <li class="footer-card">
        <h2 class="footer-title">CAFE</h2>
        <div class="foter-towncard">
            <h3 class="footer-town">Chicago</h3>
            <span class="foter-caed-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="foter-town-time"> 
            <h3 class="footer-day">Monday - Friday</h3>
            <span class="footer-time">06:00 AM - 10:00 PM</span>
            <h3 class="footer-day">Saturday - Sunday</h3>
            <span class="footer-time">08:00 AM - 16:00 PM</span>
        </div>
        <address class="footer-adres">
            <a class="foter-tel" href=tel:>+61(0) 383 766 284</a>
            <a class="foter-tel" href=mailto:>noreply@envato.com</a>
        </address>
    </li>
      <li class="footer-card">
        <h2 class="footer-title food">FOOD TRUCK</h2>
        <div class="foter-towncard">
            <h3 class="footer-town">Los Angeles</h3>
            <span class="foter-caed-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="foter-town-time"> 
            <h3 class="footer-day">Monday - Friday</h3>
            <span class="footer-time">06:00 AM - 10:00 PM</span>
            <h3 class="footer-day">Saturday - Sunday</h3>
            <span class="footer-time">08:00 AM - 16:00 PM</span>
        </div>
        <address class="footer-adres">
            <a class="foter-tel" href=tel:>+61(0) 383 766 284</a>
            <a class="foter-tel" href=mailto:>noreply@envato.com</a>
        </address>
      </li>
      <li class="footer-card">
        <h2 class="footer-title">CAFE</h2>
        <div class="foter-towncard">
            <h3 class="footer-town">New York</h3>
            <span class="foter-caed-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</span>
        </div>
        <div class="foter-town-time"> 
            <h3 class="footer-day">Monday - Friday</h3>
            <span class="footer-time">06:00 AM - 10:00 PM</span>
            <h3 class="footer-day">Saturday - Sunday</h3>
            <span class="footer-time">08:00 AM - 16:00 PM</span>
        </div>
        <address class="footer-adres">
            <a class="foter-tel" href=tel:>+61(0) 383 766 284</a>
            <a class="foter-tel" href=mailto:>noreply@envato.com</a>
        </address>
      </li>
    </ul>  
    <div class="footer-button">
        <button class="footer-but">Our Locations
        </button>
        <button class="footer-but-franch">Franchise              
        </button>
    </div >
    <div class="footer-last">
        <div class="footer-ice-title">
            <p class="foter-ice">homemade ice cream made</p>
            <p class="foter-passion">with passion</p>
        </div>
        <div class="footer-contat-icom">   
        <ul class="footer-media"> 
            <li class="footer-iconn">
                <a href="#" class="footer-icon2" > 
                    <svg  width='25px' height='32px'>
                        <use href="./img/symbol-defs.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer-iconn" >
                <a href="#" class="footer-icon" > 
                    <svg   width='22px' height='30px'>
                        <use href="./img/symbol-defs.svg#telegram"></use>
                    </svg> 
                </a> 
            </li>
            
            <li class="footer-iconn">
                <a href="#" class="footer-icon">
                    <svg class="footer-icon-facebook" width='29px' height='25px'>
                        <use href="./img/symbol-defs.svg#facebook"></use>
                    </svg>
                </a> 
            </li>          
        
            </ul> 
            <p class="footer-contact">Feel free to contact 
                <span class="footer-contact-tell">+61 (0) 383 766 284</span> 
            </p>
        </div>
    </div>
    
    <div class="footer-coperite">
       <p class="footer-coperite-title">© 2019 - IceCream. All Rights Reserved.</p> 
    </div>
    </div>
</div>
<span class="footer-bagraund"></span>
</footer>