<header class="header">
    <div class="header__top">
        <img src="/images/logo.png" class="header__logo">
        
        <nav class="header__nav">
            <ul class="header__nav--list">
                <li class="header__nav--link header__menu--link-home"><a href="#">Home</a></li>
                <li class="header__nav--link"><a href="#">About us</a></li>
                <li class="header__nav--link"><a href="#">How it’s made?</a></li>
                <li class="header__nav--link"><a href="#">Our products</a></li>
                <li class="header__nav--link"><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="header__menu--box">
            <a href="#" class="header__burger">
                <img class="icon__open" src="/images/svg/burger.svg" alt="#">
            </a>
            <a class="header__top--btn" href="#">Buy now <span>&gt;</span></a>
        </div>
    </div>

    <div class="header__menu">
        <a class="header__close" href="#">
            <img src="images/svg/close.svg" alt="#">
        </a>
        <a class="header__menu--btn" href="#">Buy now <span>&gt;</span></a>
        <ul class="header__menu--list">
            <li class="header__menu--link header__menu--link-home"><a href="#">Home</a></li>
            <li class="header__menu--link"><a href="#">About us</a></li>
            <li class="header__menu--link"><a href="#">How it’s made?</a></li>
            <li class="header__menu--link"><a href="#">Our products</a></li>
            <li class="header__menu--link"><a href="#">Contact</a></li>
        </ul>

    
    </div>



    <div class="header__content">
        <div class="header__circle"></div>
        <picture >
            <source srcset="images/icecream1@2x.png" media="min-width: 1200px"/>
            <img class="header__icecream" src="images/icecream1.png" alt="#">
        </picture>
        <p class="header__title">ice cream<br>
            made with
            <span>passion</span></p>
        <div class="header__buttons">
            <a href="#" class="header__button btn-red">Products</a>
            <a href="#" class="header__button btn-white">How it’s made?</a>
        </div>
        <ul class="header__numbers">
<li class="header__numbers--item">
<p class="header__number--num first-num">16</p>
<!-- <p class="header__number--text">cafes</p> -->
</li>
    
<li class="header__numbers--item">
    <p class="header__number--num second-num">23</p>
    <!-- <p class="header__number--text">food trucks</p> -->
</li>
        </ul>
<ul class="header__bottom">
<li class="header__bottom--item">
    <picture>
        <source srcset="images/bio-eco@2x.png" media="(min-width: 1200px)" />
        <img class="item-bio" src="images/bio-eco-tablet.png" alt="">
    </picture>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <a class="header__bottom--arrow" href="#"></a>
</li>
<li class="header__bottom--item">
<picture>
    <source srcset="images/tasty@2x.png" media="(min-width: 1200px)" />
    <img class="item-tasty" src="images/tasty-tablet.png" alt="">
</picture>
</li>
</ul>
    </div>
</header>

