
    <section class="info">
        <div class="container">
            <h1 class="info__subtitle">Tradition and love </h1>
            <h2 class="info__title">How it’s made?</h2>
            <div class="info__container">
                <div class="info__img-content"><img src="./../img/" alt="Cow and milk"></div>
            <div class="info__text-container">
                <p class="info__text--black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="ino__text--gray">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.


                    Aliquam erat volutpat. Aenean accumsan.</p>
                </div>
            </div>
                <button class="btn info__btn">Read more</button>
                <ul class="info__list">
                    <li class="info__item">
                        <svg class=info__icon></svg>
                        <h3 class="info__item-title">721</h3>
                        <p class="info__iem-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li class="info__item">
                        <svg class=info__icon></svg>
                        <h3 class="info__item-title">16kg</h3>
                        <p class="info__iem-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li class="info__item">
                        <svg class=info__icon></svg>
                        <h3 class="info__item-title">84</h3>
                        <p class="info__iem-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                </ul>
                <div class="info__buttom-img">
                    <img src="#" alt="Diferent pictures">
                </div>
            
        </div>
    </section>
