<div class="container">
  <section class="slider">
    <img src="./images/testimonials.png" alt="clients" />

    <div class="slider-text">
      <p>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>

    <ul class="ellipse">
      <li>
        <svg>
          <use href="./images/symbol-defs.svg#Ellipse"></use>
        </svg>
      </li>
      <li>
        <svg>
          <use href="./images/symbol-defs.svg#Ellipse"></use>
        </svg>
      </li>
      <li>
        <svg>
          <use href="./images/symbol-defs.svg#Ellipse"></use>
        </svg>
      </li>
    </ul>

    <h3>Emily, Los Angeles</h3>

    <ul class="slider-menu">
      <li>
        <svg>
          <use href="./images/symbol-defs.svg#home"></use>
        </svg>
      </li>
      <li>
        <svg class="icon-ellipse">
          <use href="./images/symbol-defs.svg#Ellipse"></use>
        </svg>
      </li>
      <li>
        <svg class="icon-ellipse">
          <use href="./images/symbol-defs.svg#Ellipse"></use>
        </svg>
      </li>
    </ul>
  </section>
</div>
