*a {
    text-decoration: none;
}

.header {
    font-family: 'Titan One', cursive;
    position: relative;
    margin: 0 auto;
    max-width: 100%;

    height: 502px;
    padding: 6px 20px 0 20px;
    background: #FFB8CA;
    overflow: hidden;

}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    position: relative;
    top: 15px;
    z-index: 5;
}

.header__content {
    margin: 0 auto;
}

.header__circle {
    position: absolute;
    left: 36px;
    top: 83px;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background: #FFA5BA;
    z-index: 1;

    @media (min-width: 400px) {
        left: 136px;
    }

    @media (min-width: 660px) {
        left: 190px;
    }
}

.header__icecream {
    position: absolute;
    z-index: 2;
    left: 117px;
    top: 92px;
    @media (min-width: 400px) {
        left: 217px;
    }
    @media (min-width: 660px) {
        left: 260px;
    }
}



.header__title {
position: absolute;
left: 20px;
top: 193px;
z-index: 3;
color: #fff;
font-size: 26px;
line-height: 30px;
text-transform: uppercase;

span {
    display: block;
    font-size: 48px;
    color: #D41443;
    line-height: 40px;
}

@media (min-width: 400px) {
    left: 120px;
}

@media (min-width: 660px) {
    left: 160px;
}

@media (min-width: 768px) {
    left: 160px;
    top: 102px;
}

 }
.header__buttons {
    margin-top: 20px;
position: absolute;
z-index: 3;
left: 20px;
top: 318px;
display: flex;

@media (min-width: 400px) {
    left: 120px;
}

@media (min-width: 660px) {
    left: 160px;
}

@media (min-width: 768px) {
    top: 222px;
    left: 34px;

}

 }
.header__button {
cursor: pointer;
display: block;
width: 62px;
height: 24px;
border-radius: 20px;
font-family: 'DM Sans', sans-serif;
font-weight: normal;
font-size: 8px;
line-height: 10px;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.2s linear;
text-decoration: none;
 }

 .btn-red {
     
    background-color: #D41443;
    margin-right: 8px;
    color: #fff;  

    &:hover {
        
        
        background-color: #C7133E;
    }
 }

 .btn-white {
    width: 83px;
    background-color: #fff;
    color: #D41443;

    &:hover {
        background-color: #E5E5E5;
    }
 }

.header__top--btn {
    display: none;
}

.header__numbers {
    display: none;
}

.header__bottom {
    display: none;
}

.header__nav {
display: none;
}

@media (min-width: 768px) {

    .header {
        padding: 6px 34px 0 34px;
        height: 430px;
    }
    .header__top--btn {
        position: relative;
        top: 15px;
        z-index: 5;
        display: block;
    width: 209px;
height: 44px;
border-radius: 20px;
color: #D41443;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
margin-bottom: 32px;
transition: all .2s linear;
margin-left: 30px;
span {
    display: inline-block;
    margin-left: 16px;
    margin-top: 4px;
}
&:hover {
    background-color: #ECEBEB;
    color: #D41443;
}
}

.header__menu--box {
    display: inline-block;
    padding-top: px;
    display: flex;
}

.header__burger {
    margin-top: 15px;
}

.header__circle {
    left: 307px;
    top: 31px;
}

.header__icecream {
    left: 378px;
top: 63px;
}

.header__title {
    left: 34px;
top: 102px;
}

.heaedr__buttons {
   top: 0;
   left: 0;
}

.header__numbers {
    position: absolute;
    right: 34px;
top: 82px;
z-index: 5;
    display: block;
    list-style: none;
    color: #D41443;
    font-size: 28px;


.header__number--text {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
font-size: 8px;

}
}

.header__numbers--item {
    position: relative;
    z-index: 5;
    width: 51px;
    height: 43px;

    .header__number--num {
        position: relative;
        z-index: 5;
      
    }

    .first-num::before {
        content: "cafes";
        position: absolute;
        top: 30px;
        left: 10px;
        z-index: 3;
        font-family: 'DM Sans', sans-serif;
        color: #fff;
        font-size: 8px;
    }

    .second-num::before {
        content: "food trucks";
        position: absolute;
        top: 30px;
        left: -5px;
        z-index: 3;
        font-family: 'DM Sans', sans-serif;
        color: #fff;
        font-size: 8px;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        right: 10px;
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
    }

}
.header__bottom {
    position: relative;
    left: -34px;
top: 180px;
    display: flex;
    justify-content: space-between;
    
}
.header__bottom--item {
    display: flex;
    p {
        position: relative;
        top: 25px;
        left: 0;
        width: 115px;
        font-family: 'DM Sans', sans-serif;
color: #fff;
font-size: 8px;
line-height: 150%;
    }

.item-tasty {
    position: relative;
    z-index: 5;
    top: 25px;
    right: -34px;
}
}

.header__bottom--arrow {
    display: block;
    position: absolute;
    width: 18px;
height: 18px;
border-radius:  50%;
background: url("/img/svg/arrow-right.svg") no-repeat;

background-size: cover;

top: 87px;
left: 163px;

}

    }


    @media (min-width: 1280px) {
.header {
    padding: 6px 46px 0 46px;
    height: 665px;
}

.header__burger {
    display: none;
}

.header__nav {
    position: relative;
    z-index: 10;
    max-width: 600px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.header__nav--list {
    list-style: none;
    display: flex;
    max-width: 550px;

}

.header__nav--link { 
    margin-right: 35px;
    &:last-child {
        margin-right: 0;
    }
    a {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
     }
}

.header__circle {
    width: 538px;
height: 538px;
left: 475px;
top: 40px;
} 

.header__icecream {
    width: 236px;
height: 557px;
left: 594px;
top: 113px;
}

.header__title {
    left: 115px;
top: 171px;
font-size: 38px;
line-height: 44px;
span {
    line-height: 44px;
    font-size: 58px;
}
}

.header__buttons {
    left: 115px;
top: 353px;

}

.header__button {
    font-size: 14px;
line-height: 18px;
}

.btn-red {
    width: 102px;
height: 40px;
}
.btn-white {
    width: 138px;
height: 40px;
}

.header__numbers {
    left: 1111px;
top: 160px;
}

.header__numbers--item {
    .first-num::before {
        top: 50px;
        font-size: 14px;
    }

    .second-num::before {
        top: 50px;
        left: -10px;
        font-size: 14px;
        white-space: nowrap;
    }

    &::after {
        right: -7px;
    }
}


.header__number--num {
    width: 54px;
height: 53px;
font-size: 46px;
}

.header__bottom {
    top: 320px;
    left: 0px;
}

.header__bottom--item {
 p {
     top: 60px;
     width: 200px;
     font-size: 14px;
 }
}

.header__bottom--arrow {
    top: 167px;
    left: 227px;
}



.header__bottom--item .item-tasty {
    width: 293px;
height: 232px;
object-fit: cover;
    position: relative;
    z-index: 5;
    top: 20px;
    right: 25px;
}

.item-bio {
    width: 188px;
height: 191px;
object-fit: cover;
}

    }
